body{
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* ------------------------------------------ */

.topNavigation{
    display: flex;
     flex-direction: row;
     align-items: center;
     background-color: white;
     height: 50px;
     width: 100%;
     justify-content: space-between;
}
.nav-item-left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 40%;
    height: 50px;
}
.menu-items{
    display: flex;
     flex-direction: row;
     width: 90%;
    align-items: center;
    justify-content: space-evenly;
     background-color: white;
     font-size: 16px;
     font-weight: 500;
}
.logo{
   margin-left: 10px;
}
.logo-image{
    width: 80px;
    height: 50px;
}
.nav-item-right{
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: flex-end;
}
.menu-items-right{
    display: flex;
     flex-direction: row;
     width: 80%;
    align-items: center;
    justify-content: space-evenly;
     font-size: 16px;
     font-weight: 500;
     
}

/* ----------------------------------- */

.site-header{
display: flex;
flex-direction: row;
width: 100%;
justify-content: space-between;
margin-top: 30px;
height: 50px;
}
.site-container{
    width: 100%;
    height: 100%;
    background-color: #111a2a;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.site-main-container{
    width: 90%;
    display: flex;
    flex-direction: column;
}
.forms-name{
    font-size: 20;
    font-weight: 600;
    color: white;
    margin-left: 10px;
}
.site-name-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.site-navigation-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    justify-content: flex-end;
}
.menu-items-forms{
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #a1a1a1;
    align-items: center;
    justify-content: space-evenly;
   
}
.home-content-main-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.main-left{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.main-right{
    width: 50%;
}
.heading-main{
color: white;
font-size: 52;
font-weight: bold;
width: 60%;
margin-top: 130;
}
.heading-content{
    color: white;
    font-size: 18;
    font-weight: 500;
    width: 60%; 
    line-height: 1.8;
    margin-top: 20;
}
.mobile-main{
    margin-top: 50px;
    width:80%;
}
.store-btn-container{
    display: flex;
    flex-direction: row;
    margin-top:20px;
}
.store-btn, 
.play-btn{
    background-color: black;
    width: 18%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-style:outset;
    border-color: white;
    border-radius: 10px;
}
.play-btn{
    margin-left: 20;
}
.store-image{
    width: 20px;
    height: 20px;
}
.store-text{
    color: white;
    width: 90px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.rating-container{
    margin-top: 20px;
}
.fa-star.checked {
    color: red;
  }
  .fa-star{
      color: white;
  }
  .reviews-text{
      color: white;
      margin-top: 3px;
  }
  .items-right{
      display: flex;
      flex-direction: row;
      align-items: center;
  }
  .profile-image{
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 1300px) {
    .site-navigation-menu{
        display: none;
    }
    .home-content-main-container{
        display: flex;
        width: 100%;
    }
    .main-right{
        width: 50%;
        height: 60%;
        display: flex;
        margin-top: 100px;
    }
    .main-left{
        display: flex;
        width: 100%;
        align-items: center;
    }
    .store-btn-container{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .heading-main{
     color: white;
     font-size: 52;
     font-weight: bold;
     width: 80%;
     margin-top: 130;
     }
     .heading-content{
         color: white;
         font-size: 18;
         font-weight: 500;
         width: 80%; 
         line-height: 1.8;
         margin-top: 20;
     }
     .store-btn,
     .play-btn{
         background-color: black;
         width: 28%;
         height: 40px;
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: space-evenly;
         border-style:outset;
         border-color: white;
         border-radius: 10px;
     }
     .play-btn{
        margin-left: 20;
    }
     .site-name-div{
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;
     }
     .rating-container{
             width: 80%;
             display: flex;
             flex-direction: column;
     }
   }
 

@media only screen and (max-width: 800px) {
   .site-navigation-menu{
       display: none;
   }
   .home-content-main-container{
       display: flex;
       width: 100%;
   }
   .main-right{
    display: none;
   }
   .main-left{
       display: flex;
       width: 100%;
       align-items: center;
   }
   .store-btn-container{
       width: 80%;
       display: flex;
       flex-direction: row;
       justify-content: flex-start;
   }
   .heading-main{
    color: white;
    font-size: 52;
    font-weight: bold;
    width: 80%;
    margin-top: 130;
    }
    .heading-content{
        color: white;
        font-size: 18;
        font-weight: 500;
        width: 80%; 
        line-height: 1.8;
        margin-top: 20;
    }
    .store-btn,
    .play-btn{
        background-color: black;
        width: 28%;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        border-style:outset;
        border-color: white;
        border-radius: 10px;
    }
    .play-btn{
        margin-left: 20;
    }
    .site-name-div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .rating-container{
            width: 80%;
            display: flex;
            flex-direction: column;
    }
  }

  @media only screen and (max-width: 700px) {
    .site-navigation-menu{
        display: none;
    }
    .home-content-main-container{
        display: flex;
        width: 100%;
    }
    .main-right{
     display: none;
    }
    .main-left{
        display: flex;
        width: 100%;
        align-items: center;
    }
    .store-btn-container{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .heading-main{
     color: white;
     font-size: 42;
     font-weight: bold;
     width: 80%;
     margin-top: 100;
     }
     .heading-content{
         color: white;
         font-size: 14;
         font-weight: 500;
         width: 80%; 
         line-height: 1.8;
         margin-top: 20;
     }
     .store-btn,
     .play-btn{
         background-color: black;
         width: 38%;
         height: 40px;
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: space-evenly;
         border-style:outset;
         border-color: white;
         border-radius: 10px;
     }
     .play-btn{
        margin-left: 20;
    }
     .site-name-div{
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;
     }
     .rating-container{
             width: 80%;
             display: flex;
             flex-direction: column;
     }
   }
   @media only screen and (max-width: 500px) {
    .topNavigation{
        display: none;
    }
    .site-navigation-menu{
        display: none;
    }
    .home-content-main-container{
        display: flex;
        width: 100%;
    }
    .main-right{
     display: none;
    }
    .main-left{
        display: flex;
        width: 100%;
        align-items: center;
    }
    .store-btn-container{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .heading-main{
     color: white;
     font-size: 42;
     font-weight: bold;
     width: 80%;
     margin-top: 100;
     }
     .heading-content{
         color: white;
         font-size: 14;
         font-weight: 500;
         width: 80%; 
         line-height: 1.8;
         margin-top: 20;
     }
     .store-btn,
     .play-btn{
         background-color: black;
         width: 48%;
         height: 40px;
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: space-evenly;
         border-style:outset;
         border-color: white;
         border-radius: 10px;
     }
     .play-btn{
        margin-left: 20;
    }
     .site-name-div{
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;
     }
     .rating-container{
             width: 80%;
             display: flex;
             flex-direction: column;
     }
    }
     @media only screen and (max-width: 400px) {
        .topNavigation{
            display: none;
        }
        .site-navigation-menu{
            display: none;
        }
        .home-content-main-container{
            display: flex;
            width: 100%;
        }
        .main-right{
         display: none;
        }
        .main-left{
            display: flex;
            width: 100%;
            align-items: center;
        }
        .store-btn-container{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .heading-main{
         color: white;
         font-size: 42;
         font-weight: bold;
         width: 100%;
         margin-top: 100;
         }
         .heading-content{
             color: white;
             font-size: 14;
             font-weight: 500;
             width: 100%; 
             line-height: 1.8;
             margin-top: 20;
         }
         .store-btn,
         .play-btn{
             background-color: black;
             width: 58%;
             height: 40px;
             display: flex;
             flex-direction: row;
             align-items: center;
             justify-content: space-evenly;
             border-style:outset;
             border-color: white;
             border-radius: 10px;
         }
         .play-btn{
            margin-left: 20;
        }
         .site-name-div{
             display: flex;
             flex-direction: row;
             align-items: center;
             justify-content: center;
         }
         .rating-container{
                 width: 80%;
                 display: flex;
                 flex-direction: column;
         }
   }